@model int?

@{
	ViewBag.Title = "Kurs - Delade filer";

}

<h2>Kurs - Delade Filer</h2>
<div ng-controller="sharedFileForCourseController" ng-init="GetForCourse(@Model)">

	<table class="table">
		<tr>
			<th>Namn</th>
			<th>Ägare</th>
			<th>Datum</th>
			<th></th>
			<th></th>
		</tr>
		<tr ng-repeat="file in apiData.SharedFiles">
			<td>{{file.Name}}</td>
			<td>{{file.OwnerId != apiData.UserId ? file.OwnerName : "Du" }}</td>
			<td>{{file.Date | dateFilter | date:'yyyy-MM-dd'}}</td>
			
			<td><a href="~/SharedFileApi/Download/{{file.Id}}" class="btn btn-success btn-sm">Ladda ner</a> <button type="button" class="btn btn-danger btn-sm" ng-click="Delete(file.Id)">Radera</button></td>
		</tr>
	</table>

</div>

<script src="~/Scripts/sharedFileControllers/sharedFileForCourseController.js"></script>
