@model int?

@{
	ViewBag.Title = "Delade filer";
}


<div ng-controller="sharedFileForCourseController" ng-init="init(@Model)">

	<table class="table">
		<tr>
			<th>Namn</th>
			<th>Ägare</th>
			<th>Datum</th>
			<th></th>
			<th></th>
		</tr>
		<tr ng-repeat="item in sharedFiles">
			<td>{{item.Name}}</td>
			<td>{{item.Owner ? item.Owner : "You" }}</td>
			<td>{{item.Date | dateFilter | date:'yyyy-MM-dd'}}</td>
			
			<td><a href="~/SharedFileApi/Download/{{item.Id}}" class="btn btn-success btn-sm">Ladda ner</a> <button type="button" class="btn btn-danger btn-sm" ng-click="deleteSharedFile(item.Id)" ng-hide="item.Owner">Radera</button></td>
		</tr>
	</table>

</div>


@section scripts {

	<script>

	(function () {

		angular.module("app").controller("sharedFileForCourseController", function ($scope, ApiService) {
			$scope.sharedFiles = null;

			var onSuccess = function (data) {
				$scope.sharedFiles = data.sharedFiles;
			};

			var onFail = function (response) {
				alert("fail");
			};

			var onDeleteSuccess = function (data) {
				var index = -1;
				for (var i = 0; i < $scope.sharedFiles.length; i++) {
					if ($scope.sharedFiles[i].Id == data.Id) {
						index = i;
						break;
					}
				}

				if (index != -1)
					$scope.sharedFiles.splice(index, 1);

			};

			var onDeleteFail = function (response) {
				alert("fail");
			};


			$scope.init = function (id)
			{
				ApiService.GetSharedFilesForCourse(onSuccess, onFail, { id: id });
			}

			$scope.deleteSharedFile = function (id) {
				ApiService.DeleteSharedFile(onDeleteSuccess, onDeleteFail, { id: id });
			}

		});

	}());

	</script>

}