@{
	ViewBag.Title = "Mina Delade filer";
}

<h2>Mina Delade Filer</h2>


<div ng-controller="sharedFileMineController">

	<table class="table">
		<tr>
			<th>Namn</th>
			<th>Kurs</th>
			<th>Datum</th>
			<th></th>
			<th></th>
		</tr>
		<tr ng-repeat="file in apiData.SharedFiles">
			<td>{{file.Name}}</td>
			<td><a href="~/Course/Single/{{file.CourseId}}">{{file.CourseName}}</a></td>
			<td>{{file.Date | dateFilter | date:'yyyy-MM-dd'}}</td>
			
			<td><a href="~/SharedFileApi/Download/{{file.Id}}" class="btn btn-success btn-sm">Ladda ner</a> <button type="button" class="btn btn-danger btn-sm" ng-click="Delete(file.Id)">Radera</button></td>
		</tr>
	</table>

</div>


@section scripts {

	<script>

	(function () {

		angular.module("app").controller("sharedFileMineController", function ($scope, ApiService) {
			$scope.apiData = {};

			var onSuccess = function (data) {
				$scope.apiData = data;
			};

			var onFail = function (response) {
				alert(response.Reason);
			};

			var onDeleteSuccess = function (data) {
				var index = -1;
				for (var i = 0; i < $scope.apiData.SharedFiles.length; i++) {
					if ($scope.apiData.SharedFiles[i].Id == data.Id) {
						index = i;
						break;
					}
				}

				if (index != -1)
					$scope.apiData.SharedFiles.splice(index, 1);

			};

			var onDeleteFail = function (response) {
				alert(response.Reason);
			};


			ApiService.Get("/SharedFileApi/Mine", onSuccess, onFail);

			

			$scope.Delete = function (id) {

				ApiService.Get("/SharedFileApi/Delete", onDeleteSuccess, onDeleteFail, { id: id });
			}

		});

	}());

	</script>

}