
@{
	ViewBag.Title = "Skapa lektioner";
}
<div ng-controller="lectureCreateController" ng-init="load(@Model)" ng-show="ifTeacher">
	<div class="panel panel-default">
		<div class="well">
			<h2>Skapa lektioner för {{CourseName}}</h2>
			<a href="~/Lectures/Index/@Model" class="btn btn-default btn-sm">Lektioner för kurs</a>
		</div>

		<br />
		<div class="form-group">
			<label class="control-label col-md-2" for="Name">Namn</label>
			<div class="col-md-10">
				<input id="Name" type="text" class="form-control" ng-model="Name" required />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2" for="Description">Beskrivning</label>
			<div class="col-md-10">
				<input id="Description" type="text" class="form-control" ng-model="Description" required />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2" for="TimeInMin">Tid i minuter</label>
			<div class="col-md-10">
				<input id="TimeInMin" type="text" class="form-control" ng-model="TimeInMin" required />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2" for="Frequency">Frekvens av lektioner</label>
			<div class="col-md-10">
				<select class="form-control" id="Frequency" name="Frequency" ng-model="Frequency" required>
					<option value=1>Dag (varje dag)</option>
					<option value=2>Vecka (varje 7:de dag)</option>
					<option value=3>Varannan Vecka (varje 14:de dag)</option>
					<option value=4>Månad (varje 30:de dag)</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-12" for="startDate">Datum</label>
			<label class="control-label col-md-2" for="startDate">Från</label>
			<div class="col-md-10">
				<input id="StartDate" type="text" class="form-control" ng-model="SDate" required />
			</div>
			<label class="control-label col-md-2" for="endDate">Till</label>
			<div class="col-md-10">
				<input id="EndDate" type="text" class="form-control" ng-model="EDate" required />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2" for="starttime">Starttid</label>
			<div class="col-md-10">
				<input type="time" id="starttime" name="starttime" ng-model="starttime"
					   placeholder="00:00:00" min="00:00:00" max="24:00:00" required />
			</div>
		</div>

		<div>
			<button type="button" class="btn btn-danger btn-sm" ng-click="createLecture(@Model)">Skapa schema / Lektioner</button>
		</div>
	</div>
</div>

<script>

	(function () {

		angular.module("app").controller("lectureCreateController", function ($scope, ApiService, $window) {

			$scope.CourseName = null;
			$scope.ifTeacher = false;

			var onloadSuccess = function (data) {
				$scope.CourseName = data.courseName;
			};

			var onloadFail = function (response) {
				alert("Misslyckades ladda namn");
			};

			$scope.load = function (lid) {
				ApiService.Get("/LecturesApi/GetCourseName", onloadSuccess, onloadFail, { courseId: lid });
				ApiService.CheckIfInTeacher(onTeacherSuccess, onTeacherFail); //To show or hide things that only some roles should see or not
			}

			var onTeacherSuccess = function (data) {
				$scope.ifTeacher = data.isTeacher;
				if(data.isTeacher==false)
					$window.location.href = '/Lectures/Index/@Model';
			};

			var onTeacherFail = function (response) {
				alert("Misslyckades med om lärare kontroll");
			};

			var onSuccess = function (data) {
				$window.location.href = '/Lectures/Index/@Model';
			};

			var onFail = function (response) {
				alert("Misslyckades lägga till");
			};

			$scope.createLecture = function (lid) {

				ApiService.Get("/LecturesApi/CreateLecture", onSuccess, onFail,
				{
					courseId: lid,
					name: $scope.Name,
					description: $scope.Description,
					timeInMin: $scope.TimeInMin,
					frequency: $scope.Frequency,
					startdate: $scope.SDate,
					enddate: $scope.EDate,
					starttime: $scope.starttime
				}
				);

			}

		});

	}());

</script>

@*<script>
	$(function () {
		$("#Date").datepicker();
	}); 
</script>*@