@model string
@{
    ViewBag.Title = "MyLectures";
}

<h2>Mina lektioner</h2>

<div ng-controller="lecturesController" ng-init="GetLectures(@Model)">

	<table class="table">
		<tr>
			<th>Kurs</th>
			<th>Lektionnamn</th>
			<th>Datum</th>
			<th>Starttid</th>
			<th>Hur lång tid i minuter</th>
		</tr>
		<tr ng-repeat="lecture in lectures">
			<td>
				{{lecture.CourseName}}
			</td>
			<td>
				{{lecture.Name}}
			</td>
			<td>
				{{lecture.Date | dateFilter | date:'yyyy-MM-dd'}}
			</td>
			<td>
				{{lecture.Date | dateFilter | date:'HH:MM'}}
			</td>
			<td>
				{{lecture.TimeInMin}}
			</td>
			
		</tr>

	</table>
</div>

<script>

	(function () {

		angular.module("app").controller("lecturesController", function ($scope, ApiService, $window) {
			$scope.lectures = null;

			var onSuccess = function (data) {
				$scope.lectures = data.Lectures;
			};

			var onFail = function (response) {
				alert(response.Reason);
			};

			$scope.GetLectures = function (courseId) {
				//ApiService.GetCourseAssigments(onSuccess, onFail, { courseId: courseId });
				ApiService.Get("/LecturesApi/GetLecturesForUser", onSuccess, onFail, { courseId: courseId });
			}


		});

	}());

</script>