@model int?

@{
	Layout = null;
}

<div ng-controller="courseAllUsersTeacherController" ng-init="id=@Model; GetAllUsers()">

	<table class="table table-condensed">
		<tr>
			<th>Namn</th>
			<th>Roll</th>
			<th></th>
		</tr>
			<tr ng-repeat="user in apiData.Users">
				<td >
					{{user.Name}} {{user.SurName}}
				</td>
				<td>
					<span ng-repeat="role in user.Roles">{{role}}</span>
				</td>
				<td class="text-right">
					<button ng-hide="user.UserId == apiData.UserId" type="button" class="btn btn-danger btn-sm" ng-click="RemoveUserFromCourse(user.UserId, @Model)">Ta bort</button>
				</td>
			</tr>

	</table>
</div>

<script src="~/Scripts/courseControllers/courseAllUsersTeacherController.js"></script>