
@{
	ViewBag.Title = "Lägg till kurs";
	Layout = null;
}


<div ng-controller="courseCreateCourseController">

	<div ng-hide="IsCreated">
		<form name="form" novalidate>
			<div class="form-group">
				<label for="Name">Kursnamn:</label>
				<input type="text" class="form-control" ng-model="Name" name="Name" id="Name" required>
			</div>
			<div class="alert alert-danger" role="alert" ng-show="form.Name.$error.required && form.Name.$touched">Kursnamn krävs!</div>

			<div class="form-group">
				<label for="Description">Beskrivning:</label>
				<textarea class="form-control" ng-model="Description" name="Description" id="Description" required></textarea>
			</div>
			<div class="alert alert-danger" role="alert" ng-show="form.Description.$error.required && form.Description.$touched">Beskrivning krävs!</div>
			<div class="form-group">
				<input type="button" ng-click="CreateCourse()" class="btn btn-success" value="Skapa kurs">
			</div>
		</form>
	</div>
	<div ng-show="IsCreated">
		<p>Kurs skapad!</p>
		<button class="btn btn-success" ng-click="reset()">Skapa en till</button> <a class="btn btn-success" href="/Course/Single/{{CreatedCourseId}}">Gå till kurs</a> 
	</div>
</div>

<script src="~/Scripts/courseControllers/courseCreateCourseController.js"></script>