
@{
	Layout = null;
}

<div ng-controller="courseMineController">

	<table class="table">

			<tr ng-repeat="course in apiData.courses">
				<td >
					<a href="~/Course/Details/{{course.Id}}">{{course.Name}}</a> <i>{{course.Description}}</i>	
				</td>
			</tr>

	</table>
</div>

<script src="~/Scripts/courseControllers/courseMineController.js"></script>