@model int?

@{
	Layout = null;
}

<div ng-controller="courseSingleTeacherController" ng-init="getSingle(@Model)">
	<div ng-hide="editMode">
		<h3>{{apiData.Name}} <span class="btn btn-default glyphicon glyphicon-pencil" ng-click="enableEditMode()"></span></h3>
		<h4>{{apiData.Description}}</h4>
	</div>

	<div ng-show="editMode">

		<h3>Redigera kurs</h3>
		<form novalidate name="form">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="apiData.Name" name="Name" id="Name" required>
			</div>
			<div class="alert alert-danger" role="alert" ng-show="form.Name.$error.required && form.Name.$touched">Kursnamn krävs!</div>

			<div class="form-group">
				<textarea class="form-control" ng-model="apiData.Description" name="Description" id="Description" required></textarea>
			</div>
			<div class="alert alert-danger" role="alert" ng-show="form.Description.$error.required && form.Description.$touched">Beskrivning krävs!</div>
			<div class="form-group">
				<input type="button" ng-click="saveChanges(@Model)" class="btn btn-success" value="Spara ändringar">
				<input type="button" ng-click="cancelEdit()" class="btn btn-danger" value="Ångra">
			</div>
		</form>
	</div>

</div>


<script src="~/Scripts/courseControllers/courseSingleTeacherController.js"></script>