@model int?

@{
	ViewBag.Title = "Lägg till detagare (Admin)";
}

<h2>Lägg till detagare (Admin)</h2>
<div ng-controller="courseAddUserTeacherController" ng-init="GetUsersNotInCourse(@Model)">

	<table class="table">
		<tr>
			<th>Namn</th>
			<th></th>
		</tr>
		<tr ng-repeat="user in apiData.Users">
			<td>
				{{user.Name}} {{user.SurName}}
			</td>
			<td>
				<button type="button" class="btn btn-success" ng-click="AddUserToCourse(user.UserId, @Model)">Lägg till</button>
			</td>
		</tr>

	</table>
</div>

<script src="~/Scripts/courseControllers/courseAddUserTeacherController.js"></script>
