@model int?

@{
	ViewBag.Title = "Kursdeltagare (Admin)";
}

<h2>Kursdeltagare (Admin)</h2>
<div ng-controller="courseAllUsersTeacherController" ng-init="GetAllUsers(@Model)">

	<table class="table">
		<tr>
			<th>Namn</th>
			<th>Roll</th>
			<th></th>
		</tr>
			<tr ng-repeat="user in apiData.Users">
				<td >
					{{user.Name}} {{user.SurName}}
				</td>
				<td>
					<span ng-repeat="role in user.Roles">{{role}}</span>
				</td>
				<td>
					<button ng-hide="user.UserId == apiData.UserId" type="button" class="btn btn-danger" ng-click="RemoveUserFromCourse(user.UserId, @Model)">Ta bort</button>
				</td>
			</tr>

	</table>
</div>

<script src="~/Scripts/courseControllers/courseAllUsersTeacherController.js"></script>