@{
	ViewBag.Title = "Kurs";
}


<div ng-controller="courseDetailController" ng-init="getCourse(@ViewBag.id)">
	<h2>{{course.Name}}</h2>
	<h3>{{course.Description}}</h3>
</div>


@section scripts {

	<script>

	(function () {

		angular.module("app").controller("courseDetailController", function ($scope, ApiService) {
			$scope.course = null;

			var onSuccess = function (data) {
				$scope.course = data.course;
			};

			var onFail = function (response) {
				alert("Misslyckades");
			};

			$scope.getCourse = function (id)
			{
				ApiService.GetCourse(onSuccess, onFail, { id: id });
			}
			
		});

	}());

	</script>

}