@model ChieftensLMS.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<div>
    <hr />
	Släng upp beskrining här och partials. Kanske bra att länka till lärarna också?
</div>

@Html.Action("Index", "SharedFile", new { courseId = Model.Id })

<p>

    @Html.ActionLink("Tillbaka", "Index")
</p>
