@model IEnumerable<ChieftensLMS.Models.Course>

@{
	ViewBag.Title = "Kurser";
}

<h2>Kurser</h2>
<div ng-controller="courseIndexController">
	{{ helloWorld }}
	<table class="table">
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.ActionLink(item.Name, "Details", new { id = item.Id })
					<i>@item.Description</i>
				</td>
			</tr>
		}

	</table>
</div>


@section scripts {
	
<script>

	(function () {

		angular.module("app").controller("courseIndexController", function ($scope, ApiService) {
			$scope.helloWorld = "hej xxxx";

			ApiService.GetVehicleTypes(function () { }, function (da) { alert(da.reason);} );
		});

	}());

</script>
	
}