
@{
	ViewBag.Title = "Kurser";
}

<h2>Kurser</h2>
<div ng-controller="courseIndexController">

	<table class="table">

			<tr>
				<td ng-repeat="item in courseList">
					<a href="~/Course/Details/{{item.Id}}">{{item.Name}}</a> <i>{{item.Description}}</i>	
				</td>
			</tr>

	</table>
</div>


@section scripts {
	
<script>

	(function () {

		angular.module("app").controller("courseIndexController", function ($scope, ApiService) {
			$scope.courseList = null;

			var onSuccess = function (data) {
				$scope.courseList = data.courses;
			};

			var onFail = function (response) {
				alert("Misslyckades");
			};

			ApiService.GetAllCourses(onSuccess, onFail);
		});

	}());

</script>
	
}