@model IEnumerable<ChieftensLMS.Models.Course>

@{
    ViewBag.Title = "Kurser";
}

<h2>Kurser</h2>

<table class="table">
	@foreach (var item in Model)
	{
    <tr>
        <td>
			@Html.ActionLink(item.Name, "Details", new { id = item.Id })
			<i>@item.Description</i>
        </td>
    </tr>
	}

</table>


