
@{
	ViewBag.Title = "Mina Kurser";
}

<h2>Mina Kurser</h2>
<div ng-controller="courseMineController">

	<table class="table">

			<tr ng-repeat="course in apiData.courses">
				<td >
					<a href="~/Course/Single/{{course.Id}}">{{course.Name}}</a> <i>{{course.Description}}</i>	
				</td>
			</tr>

	</table>
</div>


@section scripts {
	
<script>

	(function () {

		angular.module("app").controller("courseMineController", function ($scope, ApiService) {

			$scope.apiData = {};

			var onSuccess = function (data) {
				$scope.apiData.courses = data.Courses;
			};

			var onFail = function (response) {
				alert(response.Reason);
			};

			ApiService.Course.GetMine(onSuccess, onFail);
		});

	}());

</script>
	
}