<div ng-controller="courseOverviewController">
	@if (User.IsInRole("Teacher"))
	{
		<div class="panel panel-default">
			<div class="well">
				<h3>Skapa kurs</h3>
			</div>
			<div class="container">
				@{Html.RenderPartial("_CreateCourse");}
			</div>
		</div>
					}

	<div class="panel panel-default">
		<div class="well">
			<h3>Mina kurser</h3>
		</div>
		<div class="container">
			@{Html.RenderPartial("_Mine");}
		</div>
	</div>
</div>

<script>

	angular.module('app').controller('courseOverviewController', function ($scope) {
		$scope.$on("courseCreateCourseController_created", function () {
			$scope.$broadcast("courseMineController_refresh");
		})
	});

</script>