@model int?

@{
	ViewBag.Title = "Kurs";
}

<a href="~/Course/AllUsers/@Model">Deltagare</a>
<a href="~/SharedFile/ForCourse/@Model">Delade filer</a>

<div ng-controller="courseSingleController" ng-init="getSingle(@Model)">
	<h2>{{apiData.course.Name}}</h2>
	<h3>{{apiData.course.Description}}</h3>
</div>


@section scripts {

	<script>

	(function () {

		angular.module("app").controller("courseSingleController", function ($scope, ApiService) {
			
			$scope.apiData = {};

			var onSuccess = function (data) {
				$scope.apiData.course = data.Course;
			};

			var onFail = function (response) {
				alert(response.Reason);
			};

			$scope.getSingle = function (id)
			{
				ApiService.Course.GetSingle(onSuccess, onFail, { id: id });
			}
			
		});

	}());

	</script>

}