@model int?

@{
	ViewBag.Title = "Kurs";
}

<a href="~/Course/AddUser/@Model" class="btn btn-sm btn-primary">Lägg till detagare</a>
<a href="~/Course/AllUsers/@Model" class="btn btn-sm btn-primary">Deltagare</a>
<a href="~/SharedFile/ForCourse/@Model" class="btn btn-sm btn-primary">Delade filer</a>
<a href="~/SharedFile/Upload/@Model" class="btn btn-sm btn-primary">Ladda upp fil</a>

<div ng-controller="courseSingleController" ng-init="getSingle(@Model)">
	<h2>{{apiData.Name}}</h2>
	<h3>{{apiData.Description}}</h3>
</div>


@section scripts {

	<script>

	(function () {

		angular.module("app").controller("courseSingleController", function ($scope, ApiService) {
			
			$scope.apiData = {};

			var onSuccess = function (data) {
				$scope.apiData = data;
			};

			var onFail = function (response) {
				alert(response.Reason);
			};

			$scope.getSingle = function (id)
			{
				ApiService.Get("/CourseApi/Single", onSuccess, onFail, { id: id });
			}
			
		});

	}());

	</script>

}