@model int?
<div ng-controller="courseUsersController">
	<div class="panel panel-default">
		<div class="well"><h3>Medlemmar</h3><a href="~/Course/Details/@Model" class="btn btn-default">Tillbaka</a></div>
		<div class="container">
			@if (User.IsInRole("Teacher"))
			{
				<div class="row">
					<div class="col-md-6">
						<h4>Lägg till medlem</h4> <h5 class="text-warning">(Om bara ser lägg till knapp utan namn finns det konton som inte har namn och efternamn)</h5>

						@{Html.RenderPartial("_AddUser_Teacher", Model);}


					</div>
					<div class="col-md-6">
						<h4>Medlemmar</h4>

						@{ Html.RenderPartial("_AllUsers_Teacher", Model);}

					</div>
				</div>
							}
							else
							{
								<h3>Alla medlemmar</h3>

								Html.RenderPartial("_AllUsers", Model);
							}
		</div>
	</div>




</div>

<script>

	angular.module('app').controller('courseUsersController', function ($scope) {
		$scope.$on("courseAddUserTeacherController_added", function () {
			$scope.$broadcast("courseAllUsersTeacherController_refresh");
		})

		$scope.$on("courseAllUsersTeacherController_removed", function () {
			$scope.$broadcast("courseAddUserTeacherController_refresh");
		})

	});

</script>
