@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h2>Now we are getting started</h2>
	<p>
		Me myself and I have done this site.
	</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Here we can clerly see that this statement dosent make sense at all if you truly read spaces between the lines
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>To truly get more out of this go to the library and get a book about the current state of humbug</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>If you truly want to hoste this we can try and find a mind that is open to store what not needed to show enything truly worthwile</p>
    </div>
	<div class="col-md-12">
		<h2>And you know what</h2>
		<div class="table">
			<h3>This is a table</h3>
			<div class="table">
				<h3>in a table</h3>
			</div>
		</div>
	</div>
</div>