@model int?

@{
	Layout = null;
}

<div ng-controller="assignmentUploadController">

	<div ng-show="uploadStatus == 'complete'">
		<p>Uppladdning klar</p>

	</div>
	<div ng-show="uploadStatus == 'uploading'">
		<p>Vänta...</p>
	</div>
	<div ng-show="uploadStatus == 'error'">
		<p>Ett fel inträffade, filen kunde inte laddas upp</p>
		
	</div>


		<div class="progress" ng-show="uploadStatus != ''">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{progressPercentage}}"
				 aria-valuemin="0" aria-valuemax="{{maxProgress}}" style="width:{{progressPercentage}}%">
				<span class="sr-only">{{progressPercentage}}% Klart</span>
			</div>
		</div>

	<div>
		<button class="btn btn-success" ng-show="uploadStatus == 'complete'" ng-click="reset()">Ladda upp ny fil</button>
		<button class="btn btn-success" ng-show="uploadStatus == 'error'" ng-click="reset()">Prova igen</button> 
	</div>


	<form name="form" novalidate>
		<div ng-hide="uploadStatus != ''">
			<div class="form-group">
				<label for="Name">Namn</label><br />
				<input type="text" id="Name" name="Name" class="form-control" ng-model="Name" required />
			</div>

			<div class="form-group">
				<div class="alert alert-danger" role="alert" ng-show="form.Name.$error.required && form.Name.$touched">Namn krävs!</div>
			</div>

			<div class="form-group">
				<b>Vald fil:</b><br />
				{{File.name ? File.name : "Välj fil att ladda upp"}}<br />
			</div>
		
			<div class="form-group">
				<button type="button" class="btn btn-success" ngf-select ng-model="File" name="File" required><span class="glyphicon glyphicon-folder-open"></span> Välj fil</button>
				<button type="button" class="btn btn-danger" ng-click="upload(File, @Model)"><span class="glyphicon glyphicon-upload"></span> Ladda upp</button>
			</div>
		</div>

		
	</form>


</div>

<script src="~/Scripts/AssignmentControllers/assignmentUploadController.js"></script>
