@model int?

<div ng-controller="assignmentDetailsController" ng-init="id=@Model; getAssignment();">

	<div class="well">
		<a href="~/Assignment/Index/@Model" class="btn btn-default btn-sm">Tillbaka</a>
		<h3>Ladda upp inlämning för {{assignment.Name}}</h3>
		@{Html.RenderPartial("_Upload", Model);}
	</div>


	<h3>Inlämnade filer</h3>
	<div class="panel panel-default">
		<div class="panel-body">
				@{Html.RenderPartial("_TurnIns", Model);}
		</div>
	</div>

</div>
<script>

	angular.module('app').controller('assignmentDetailsController', function ($scope, ApiService) {
		$scope.$on("assignmentUploadController_uploadComplete", function () {
			$scope.$broadcast("assignmentTurnInsController_refresh");
		})

		$scope.assignment = null;

		var onSuccess = function (data) {
			$scope.assignment = data.assignment;
		};

		var onFail = function (response) {
			alert("Misslyckades");
		};

		$scope.getAssignment = function () {
			ApiService.GetAssignment(onSuccess, onFail, { id: $scope.id });
		}

	});

</script>


