@model int?
@{
	ViewBag.Title = "Uppdatera inlämningsuppgift";
}

<div ng-controller="assignmentUpdateController" ng-init="GetCourseAssigment(@Model)">
	<a href="~/Assignment/Index/{{assignment.CourseId}}">Inlämningar för kurs</a>
	<div class="form-group">
		<label class="control-label col-md-2" for="Name">Namn</label>
		<div class="col-md-10">
			<input id="Name" type="text" class="form-control" ng-model="assignment.Name" />
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-2" for="Description">Beskrivning</label>
		<div class="col-md-10">
			<input id="Description" type="text" class="form-control" ng-model="assignment.Description" />
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-2" for="ExpirationDate">Inlämningsdatum</label>
		<div class="col-md-10">
			<input id="ExpirationDate" type="date" class="form-control" ng-model="assignment.ExpirationDate" />
		</div>
	</div>
	
	<div>
		<button type="button" class="btn btn-danger btn-sm" ng-click="updateAssignment()">Updatera inlämningsuppgift</button>
	</div>
</div>
<script>

	(function () {

		angular.module("app").controller("assignmentUpdateController", function ($scope, ApiService, $window) {
			$scope.ifTeacher = null;
			$scope.assignment = null;

			var onTeacherSuccess = function (data) {
				$scope.ifTeacher = data.isTeacher;
			};

			var onTeacherFail = function (response) {
				alert("Misslyckades med lärare kontroll");
			};

			$scope.GetCourseAssigment = function (id) {
				ApiService.GetAssigment(onloadSuccess, onloadFail, { id: id });
				ApiService.CheckIfInTeacher(onTeacherSuccess, onTeacherFail); //To show or hide things that only some roles should see or not
			}

			var onSuccess = function (data) {
				$window.location.href = '/Assignment/Index/' + $scope.assignment.CourseId;
			};

			var onFail = function (response) {
				alert("Misslyckades updatera");
			};

			$scope.updateAssignment = function () {
				@*TODO: Fix so it is assignment send in instead of each parameter*@
				@*console.log({courseId: @Model, name: $scope.name, description: $scope.description, date: $scope.date});*@
				ApiService.UpdateAssignment(onSuccess,onFail,
					{id: @Model, name: $scope.assignment.Name, description: $scope.assignment.Description, date: $scope.assignment.ExpirationDate}
					//{ assignmentToUpdate: $scope.assignment}
					);
			}


			//Gets witch assignment
			var onloadSuccess = function (data) {
				$scope.assignment = data.assignment;
				$scope.assignment.ExpirationDate = new Date(parseInt(data.assignment.ExpirationDate.substr(6)));
			};

			var onloadFail = function (response) {
				alert("Misslyckades");
			};

			//$scope.getAssignment = function (id) {

			//	ApiService.GetAssigment(onloadSuccess, onloadFail, { id: id });
			//}

		});

	}());

</script>

