@*@model IEnumerable<ChieftensLMS.Models.Assignment>*@
@model int?

@{
	ViewBag.Title = "Inlämningsuppgifter";
	//var userRole = (Roles.IsUserInRole("Teacher") ? "true" : "false");
}

<h2>Inlämningsuppgifter</h2>

<div ng-controller="assignmentIndexController" ng-init="GetCourseAssigments(@Model)">
	<div>
		<button type="button" class="btn btn-danger btn-sm" ng-click="createAssignment()" ng-show="ifTeacher">Skapa inlämningsuppgift</button>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>
					Namn
				</th>
				<th>
					Beskrivning
				</th>
				<th>
					Inlämningsdatum
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in assignmentList">
				<td>
					<a href="~/Assignment/Details/{{item.Id}}">{{item.Name}}</a>
				</td>
				<td>
					<i>{{item.Description}}</i>
				</td>
				<td>
					{{item.ExpirationDate | dateFilter | date:'yyyy-MM-dd'}}
				</td>
				<td ng-show="ifTeacher">
					<a href="~/Assignment/Edit/{{item.Id}}">Updatera</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>



<script>

	(function () {

		angular.module("app").controller("assignmentIndexController", function ($scope, ApiService, $window) {
			$scope.assignmentList = null;
			$scope.ifTeacher = null;


			var onSuccess = function (data) {
				$scope.assignmentList = data.assigments;
			};

			var onFail = function (response) {
				alert("Misslyckades");
			};

			$scope.GetCourseAssigments = function (courseId) {
				
				ApiService.GetCourseAssigments(onSuccess, onFail, { courseId: courseId });
				ApiService.CheckIfInTeacher(onTeacherSuccess, onTeacherFail); //To show or hide things that only some roles should see or not
			}

			var onTeacherSuccess = function (data) {
				$scope.ifTeacher = data.isTeacher;
			};

			var onTeacherFail = function (response) {
				alert("Misslyckades med om lärare kontroll");
			};

			$scope.createAssignment = function()
			{
				$window.location.href = '/Assignment/Create/@Model';
			}
		});

	}());

</script>