@*@model IEnumerable<ChieftensLMS.Models.Assignment>*@
@model int?

@{
	ViewBag.Title = "Inlämningsuppgifter";
}

<h2>Inlämningsuppgifter</h2>

<div ng-controller="assignmentIndexController" ng-init="GetCourseAssigments(@Model)">

	<table class="table">
		<thead>
			<tr>
				<th>
					Namn
				</th>
				<th>
					Beskrivning
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in assignmentList">
				<td>
					<a href="~/Assignment/Details/{{item.Id}}">{{item.Name}}</a>
				</td>
				<td>
					<i>{{item.Description}}</i>
				</td>
				<td>
					{{item.ExpirationDate | dateFilter | date:'yyyy-MM-dd'}}
				</td>
			</tr>
		</tbody>
	</table>
</div>



<script>

	(function () {

		angular.module("app").controller("assignmentIndexController", function ($scope, ApiService) {
			$scope.assignmentList = null;
			


			var onSuccess = function (data) {
				$scope.assignmentList = data.assigments;
			};

			var onFail = function (response) {
				alert("Misslyckades");
			};

			$scope.GetCourseAssigments = function (courseId) {
				
				ApiService.GetCourseAssigments(onSuccess, onFail, { courseId: courseId });
			}
		});

	}());

</script>